.logo {
  width: 122px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}
.trigger:hover {
  color: #108ee9;
}
.coll-img{
  position:relative;
  font-size: 12px;
  border:none;
  padding:20px 0px;
  background-color:#ffffff ;
  top:50%;
  margin-top: -26px;
  cursor: pointer;
}

